/* Estilo base */
body {
  font-family: Arial, sans-serif;
  margin: 20px;
  padding: 0;
  box-sizing: border-box;
  background-color: #f5f5f5;
}
.menu {
  display: flex;
  flex-wrap: wrap;
  flex-flow: column;
}
input, button {
  margin: 10px 0;
  padding: 10px;
  font-size: 2rem;
  width: 100%;
  max-width: 400px;
  box-sizing: border-box;
}

button {
  background-color: #4F1C86;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #3a1466;
}

.secao {
  display: none;
  margin-top: 20px;
}
#itensRequisicao {
  font-size: 2rem;
}
#resultado, #listaRequisicoes {
  margin-top: 0px;
  padding: 0px;
  border-left: 5px solid #4F1C86;
  background-color: #d4c3e6;
  border-radius: 8px;
  color: black;
  max-width: 90dvw;
  overflow-x: auto;
  font-size: 2rem;
}

.positivo { color: rgb(105, 179, 105); }
.negativo { color: red; }
.neutro { color: black; }

.tarefa {
  margin-top: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  background-color: #fff;
  font-size: 2rem;
}

li {
    list-style: none;
}
.tarefa h3 {
  margin-bottom: 10px;
  font-size: 2.1rem;
}
.cb {
    position: absolute;
    margin-top: 0;
    margin-left: 0;
    width: 20px;
    height: 20px;
    font-size: 2rem;
}
.sugestoes {
  position: absolute;
  background-color: white;
  border: 1px solid #ccc;
  z-index: 1000;
  max-height: 450px;
  overflow-y: auto;
  width: 100%;
  max-width: 400px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
}

.sugestoes button {
  display: block;
  width: 100%;
  text-align: left;  
  color: #3a1466;
  padding: 8px;
  background-color: #eee;
  border: none;
  cursor: pointer;
}

.sugestoes button:hover {
  background-color: #ddd;
}

/* Responsividade para telas menores */
@media screen and (min-width: 120px) {
  body {
    justify-items: center;
    margin: 10px;
  }

  input, button {
    font-size: 3rem;
    padding: 8px;
    max-width: 90dvw;
    width: 800px;
  }

  .tarefa h3 {
    font-size: 2rem;
  }

  .sugestoes {
    max-width: 80dvw;
  }

  #resultado, #listaRequisicoes {
    padding: 10px;
    font-size: 1.95rem;
  }

}
